SPRING_APPLICATION_NAME=your_application_name

#DB env
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_postgres_db

# PostgreSQL Database Configuration
SPRING_DATASOURCE_URL=jdbc:postgresql://your_db_host:5432/your_postgres_db
SPRING_DATASOURCE_USERNAME=your_db_username
SPRING_DATASOURCE_PASSWORD=your_db_password
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver

# JPA/Hibernate Configuration
SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.PostgreSQLDialect
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=true
SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL=true

# Flyway
SPRING_FLYWAY_BASELINE_ON_MIGRATE=true

# Connection Pool Configuration
SPRING_DATASOURCE_HIKARI_MAXIMUM_POOL_SIZE=10
SPRING_DATASOURCE_HIKARI_MINIMUM_IDLE=5
SPRING_DATASOURCE_HIKARI_CONNECTION_TIMEOUT=20000

# Redis Configuration
SPRING_DATA_REDIS_HOST=your_redis_host
SPRING_DATA_REDIS_PORT=6379

# JWT Configuration
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRATION_TIME_ACCESS_TOKEN=1800000
JWT_EXPIRATION_TIME_REFRESH_TOKEN=2592000000

# Kuveyt Turk Payment Gateway Configuration
KUVEYT_TURK_CARD_CHECK_URL=https://your_kuveyt_turk_card_check_url
KUVEYT_TURK_PAY_URL=https://your_kuveyt_turk_pay_url

# Akbank Payment Configuration
AKBANK_MERCHANTUSER=your_akbank_merchant_user
AKBANK_MERCHANTPASSWORD=your_akbank_merchant_password
AKBANK_SECRETKEY=your_akbank_secret_key
AKBANK_SALE_URL=your_akbank_sale_url
AKBANK_SECUREPAY_URL=your_akbank_securepay_url
AKBANK_OKURL=http://your_backend_url/api/payment/akbank/okCheckout
AKBANK_FAILURL=http://your_backend_url/api/payment/akbank/failCheckout
AKBANK_LANG=TR

# Frontend Configuration
FRONTEND_URL=http://your_frontend_url/

# Mail Configuration
SPRING_MAIL_HOST=your_mail_host
SPRING_MAIL_PORT=2525
SPRING_MAIL_USERNAME=your_mail_username
SPRING_MAIL_PASSWORD=your_mail_password
SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=true
SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=true
SPRING_MAIL_FROM=your_sender_email@domain.com

# Cloudflare R2 Configurations
CLOUDFLARE_R2_ACCESS_KEY=your_cloudflare_r2_access_key
CLOUDFLARE_R2_SECRET_KEY=your_cloudflare_r2_secret_key
CLOUDFLARE_R2_ENDPOINT=https://your_cloudflare_r2_endpoint.r2.cloudflarestorage.com
CLOUDFLARE_R2_BUCKET=your_cloudflare_r2_bucket
CLOUDFLARE_R2_REGION=auto

# Bucket Configurations
BUCKET_IMAGE_BASE_URL=https://your_bucket_image_base_url

# Elasticsearch Configuration
SPRING_OPENSEARCH_URIS=http://your_opensearch_host:9200

# RabbitMQ Configuration
SPRING_RABBITMQ_HOST=your_rabbitmq_host
SPRING_RABBITMQ_PORT=5672
SPRING_RABBITMQ_USERNAME=your_rabbitmq_username
SPRING_RABBITMQ_PASSWORD=your_rabbitmq_password

MESSAGE_BROKER_DOMAIN_EXCHANGE=domain-exchange
MESSAGE_BROKER_CUSTOMER_CREATED=customer.created
