spring.application.name=ecommerce

# PostgreSQL Database Configuration
spring.datasource.url={YOUR_DATABASE_URL}
spring.datasource.username={YOUR_DATABASE_USERNAME}
spring.datasource.password={YOUR_DATABASE_PASSWORD}
spring.datasource.driver-class-name=org.postgresql.Driver

# JPA/Hibernate Configuration
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

# Connection Pool Configuration
spring.datasource.hikari.maximum-pool-size=10
spring.datasource.hikari.minimum-idle=5
spring.datasource.hikari.connection-timeout=20000

# JWT Configuration
jwt.secret={YOUR_JWT_SECRET}
jwt.expiration-time.access-token=1800000
jwt.expiration-time.refresh-token=2592000000

# Kuveyt Turk Payment Gateway Configuration
kuveyt.turk.card.check.url=https://boatest.kuveytturk.com.tr/boa.virtualpos.services/Home/ThreeDModelPayGate
kuveyt.turk.pay.url=https://boatest.kuveytturk.com.tr/boa.virtualpos.services/Home/ThreeDModelProvisionGate

# Akbank Payment Configuration
akbank.merchantUser=
akbank.merchantPassword=
akbank.secretKey=
akbank.sale.url=
akbank.securepay.url=https://virtualpospaymentgatewaypre.akbank.com/securepay
akbank.okUrl=https://test.com/okUrl
akbank.failUrl=https://test.com/failUrl
akbank.lang=TR
